.pdf-hide {
  text-align: center;
}
thead {
  display: none;
}
.prose p {
  width: 100%;
}
h1 {
  margin-top: 4em;
  margin-bottom: 1em;
}
h2 {
  margin-top: 3em;
  margin-bottom: 1em;
}
h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
h4 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
#manual-wrapper {
  display: flex;
}
#manual-content-wrapper {
  margin: 25px auto;
  padding: 0 4vw;
  width: 100%;
  max-width: 110ch;
}
#manual-content-wrapper img {
  margin: 1em 0;
  max-width: 100%;
}
#manual-title {
  text-align: center;
  font-size: 4em;
  margin: 0;
}
#toc-button {
  white-space: nowrap;
  background-color: #FF9000;
  color: #313131;
  position: sticky;
  top: 10px;
  left: 80px;
  width: fit-content;
  font-weight: bold;
  font-size: 120%;
  padding: 10px;
  border: 0;
  cursor: pointer;
  text-align: left;
}
#toc-wrapper {
  position: fixed;
  top: 60px;
  left: 0;
  min-width: min-content;
  max-width: fit-content;
  height: calc(100vh - 60px);
}
#toc-list {
  display: none;
  background-color: #313131FA;
  color: #DEDEDE;
  padding: 0 5px;
  height: calc(100vh - 60px);
  overflow-y: scroll;
  overflow-x: auto;
}
#toc-list ul, #toc-list li {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  line-height: 1.5;
}
#toc-list a {
  text-decoration: none;
}
#toc-list a:hover {
  text-decoration: underline solid;
}
[class="1"] {
  color: #FFFFFF;
  list-style-type: none !important;
  padding: 10px 10px !important;
}
[class="2"] {
  list-style-type: disc !important;
  padding: 2px 15px !important;
}
[class="3"] {
  list-style-type: circle !important;
  padding: 2px 15px !important;
}
[class="1"] > a {
  font-size: 1.2rem;
  font-weight: 900;
}
@media screen and (max-width: 800px) {
  html {
    scroll-padding-top: 96px;
    word-break: break-word;
  }
  #manual-wrapper {
    display: block;
  }
  #manual-content-wrapper {
    display: block;
    margin: 60px auto;
  }
  #toc-button {
    position: fixed;
  }
  #toc-list {
    top: 60px;
    position: fixed;
    width: 100%;
    height: calc(100vh - 60px);
  }
}
