@font-face {
    font-family: "LatoWeb";
    src: url("../fonts/Lato-Regular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: "LatoWeb";
    src: url("../fonts/Lato-Italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

* {
    box-sizing: border-box;
    font-family: LatoWeb;
    color: #000000;
}

body {
    background-color: #FFFFFF;
}

a {
    color: #2D86FE;
}

.pdf-hide {
    display: none;
}

.pdf-firstpage {
    padding-top: 150px;
}

img {
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    display: none;
}

tr {
    border-collapse: collapse;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td {
    padding: 15px;
    white-space: pre-wrap;
}

#installing-or-building-surge-xt, #user-interface-basics, #the-scene-concept, #patch-browser, #the-save-dialog, #scene-controls, #sound-generation, #sound-shaping, #waveshaper, #modulationrouting, #modulation-list, #shapes, #step-sequencer, #lfo-envelope-generator, #effects, #effect-unit-selector, #microtuning, #skins, #shape, #tuning-editor, #edit-modes, #radial, #interval, #to-equal, #rotation {
    page-break-before: always;
}
