.skin-container {
    max-width: 50em;
    color: #FFFFFF;
}
.skin-zoom {
    background-color: #000000;
    width: 100%;
    padding: 1rem;
    text-align: right;
    border-width: 3px;
    border-image: linear-gradient(to top, #000000, #FF9000) 1;
    border-style: solid;
    margin-top: 3rem;
}
.skin-image img {
    display: block;
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast;
    background-color: #000000;
    padding: 0 1rem;
}
.skin-text {
    background-color: #000000;
    padding: 1rem;
    border-width: 3px;
    border-image: linear-gradient(#000000, #FF9000) 1;
    border-style: solid;
}
.skin-author {
    line-height: 300%;
    font-style: oblique;
    font-size: 1.25rem;
}
.skin-container a {
    color: #FF9000;
    text-decoration: none;
}
.skin-container a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
.skin-zoom a {
    font-size: 1.25rem;
    padding-bottom: 0.25rem;
}
a.skin-title {
    font-size: 2rem;
    border-bottom: 3px solid #FF9000;
}
a:hover.skin-title {
    border-bottom: 3px solid #FFFFFF;
}
