<div class="community-section">
    <div class="community-text">
        <div class="text-container">
            <h1 class="heading dark-text community-header">Community</h1>
            <p class="paragraph-black">
                We love Surge. We <strong><em>also</em></strong> love people. <br /><br />Community is a
                <strong><em>big thing to us</em></strong> on this project. We want an inclusive, positive, and happy
                community with contributions from a large set of differing viewpoints and backgrounds.<br /><br />Let&#x27;s
                be kind to each other and treat each other with respect. It takes all of us working together to make the
                community great.<br /><br />We are looking forward to your insights and contributions.
                <br /><br />Let&#x27;s make something amazing!<br /><br />- The Management
            </p>
            <a href="{% include discord_invite_link %}" class="ghost-button-thick-border-blue">Get Involved Here</a>
        </div>
    </div>
</div>
