<div class="contributer-section" id="contributors">
  <div class="contributer-text white-text">
    <div class="text-container">
      <h1 class="h1 dark-text contributor-heading white-text">Contributors Welcome!</h1>
      <p>Surge is supported by a community of volunteer open source developers, designers, testers, musicians, synthesizer enthusiasts, and content creators.<br><br>Without them, none of this is possible. If you&#x27;re interested in seeing what&#x27;s going on with the project the best thing to do is:<br></p>
      <a href="https://github.com/surge-synthesizer/surge" class="ghost-button-thick-border">View the Surge Project Page</a>
    </div>
  </div>
</div>