<div class="content-creator-section">
    <div class="content-creators-hero"></div>
    <div class="content-creator-text black-text">
        <div class="text-container">
            <h3>Content Creators</h3>
            <p class="paragraph-black">
                If you love to use Surge and make amazing presets or music, we want to hear from you. <br /><br />In
                fact, we would love to have you pitch in and help out with the project!<br /><br />We are looking for
                people that have content that showcases Surge in all of its glory. <br /><br />If you make patches,
                write entire songs using only Surge or anything in between, we would love for you to be involved! <br />
            </p>
            <a href="https://github.com/surge-synthesizer/surge/issues" class="ghost-button-thick-border-black-text"
                >View Surge-Synthesizer GitHub Project Page</a
            >
        </div>
    </div>
</div>
