<div class="designer-section" style="">
  <div class="designer-hero"></div>
  <div class="designer-text black-text">
    <div class="text-container">
      <h3>Designers</h3>
      <p class="paragraph">If you would like to pitch in and have interests in UX, UI, visual design or any other design related topic there are plenty of open issues. <br><br>The #design Slack channel can help find something to get you started.<br></p><a href="{% include slack_invite_link %}" class="ghost-button-thick-border-black-text">Join #design Surge Slack channel</a>
    </div>
  </div>
</div>
