<div class="developer-section-copy">
    <div class="developer-hero"></div>
    <div class="developer-text">
        <div class="text-container">
            <h3 class="heading-2 white-text developer-heading">Developers</h3>
            <p class="paragraph">
                If you are interested in contributing, we welcome developers who know or want to learn C++, git,
                graphics and Web design.<br /><br />There’s plenty of open issues and our Slack channel can help you
                find a good first one if you want. <br /><br />Hop over to the project issues page to see what we need
                help with. <br />
            </p>
            <a href="https://github.com/surge-synthesizer/surge/issues" class="ghost-button-thick-border"
                >View surge-synthesizer GitHub Project Page</a
            >
            <p class="paragraph">
                You can also join the conversation in #surge-development channel at the Surge Synthesizer Discord
                server. We&#x27;ll help get you started!<br />
            </p>
            <a href="{% include discord_invite_link %}" class="ghost-button-thick-border"
                >Join Surge Synthesizer Discord Server</a
            >
        </div>
    </div>
</div>
