<div class="digital-section">
    <div class="digital-left"></div>
    <div class="digital-right">
        <div class="digital-text-wrapper">
            <h1 class="heading-6">Digital Beauty</h1>
            <h1 class="heading-5-copy">Surge XT is a digital synth and makes no bones about it.</h1>
            <p class="paragraph">
                If you have used it in the past, it will be like welcoming an old friend back into your life. If you are
                new to Surge XT, welcome to the party. Come on in, the water is fine.
            </p>
        </div>
    </div>
</div>
