<div class="specs-section effects-section">
  <div class="left-1 effects"></div>
  <div class="right effects">
    <div class="text-wrapper">
      <h3 class="spec-heading dark-text">Effects</h3>
      <p class="paragraph specs-text-wrapper dark-text">8 effect units arranged as 2 inserts per scene, 2 sends and 2 master effects.</p>
      <p class="specs-text-wrapper dark-text">24 effect algorithms: </p>
      <p class="specs-text-wrapper dark-text">3-band EQ, 11-band Graphic EQ, Exciter, Resonator, CHOW, Distortion, Neuron, Tape, Combulator, Frequency Shifter, Nimbus (a famous Eurorack live input granularizer), Ring Modulator, Treemonster (pitch-tracked ring modulator from Shortcircuit 2!), Vocoder, Chorus, Ensemble (BBD based or clean!), Flanger, Phaser, Rotary Speaker, Delay, Reverb 1, Reverb 2, Conditioner (low/high EQ, stereo image and limiter) and Airwindows (itself containing 53 wonderful effects of various kinds!)</p>
    </div>
  </div>
</div>
