<div class="specs-section effects-section">
  <div class="left-1 effects"></div>
  <div class="right effects">
    <div class="text-wrapper">
      <h3 class="spec-heading dark-text">Effects</h3>
      <p class="paragraph specs-text-wrapper dark-text">16 effect units arranged as 4 inserts per scene, 4 sends and 4 master effects.</p>

      <p class="specs-text-wrapper dark-text">27 effect algorithms: </p>

      <p class="specs-text-wrapper dark-text"><b>FILTERING:</b></br>
        3-band fully parametric EQ</br>
        11-band graphic EQ</br>
        Exciter</br>
        Resonator</br>
        Resonator</br></p>

      <p class="specs-text-wrapper dark-text"><b>DISTORTION:</b></br>
        CHOW</br>
        Distortion</br>
        Neuron</br>
        Tape (based on <a href="https://chowdsp.com/products.html#tape">ChowTapeModel</a>!)</br>
        Waveshaper</p>

      <p class="specs-text-wrapper dark-text"><b>MANGLING:</b></br>
        Combulator</br>
        Frequency Shifter</br>
        Nimbus</br>
        Ring Modulator</br>
        Treemonster</br>
        Vocoder</br>
        Vocoder</p>

      <p class="specs-text-wrapper dark-text"><b>MODULATION:</b></br>
        Chorus</br>
        Ensemble</br>
        Flanger</br>
        Phaser</br>
        Rotary Speaker</br>
        Rotary Speaker</p>

      <p class="specs-text-wrapper dark-text"><b>TIME & SPACE:</b></br>
        Delay</br>
        Reverb 1</br>
        Reverb 2</br>
        Spring Reverb</p>

      <p class="specs-text-wrapper dark-text"><b>MULTIEFFECTS:</b></br>
        Airwindows (itself containing 56 effects!)</br>
        Conditioner</br>
        Airwindows (itself containing 53 effects!)</br>
        Mid-Side Tool</p>
    </div>
  </div>
</div>
