<div class="specs-section effects-section">
  <div class="left-1 effects"></div>
  <div class="right effects">
    <div class="text-wrapper">
      <h3 class="spec-heading dark-text">Effects</h3>
      <p class="paragraph specs-text-wrapper dark-text">8 effect units arranged as 2 inserts per scene, 2 sends and 2 master effects.</p>
      <p class="specs-text-wrapper dark-text">24 effect algorithms: </p>
      <p class="specs-text-wrapper dark-text">
        3-band fully parametric EQ</br>
        11-band graphic EQ</br>
        Exciter (based on a famous "type B" studio rack unit)</br>
        Resonator (inspired by a resonator from a vintage polysynth that rhymes with "vogue")</br>
        CHOW (maximally truculent distortion with compressor-like controls)</br>
        Distortion</br>
        Neuron (distortion based on Gated Recurrent Unit)</br>
        Tape (based on the awesome <a href="https://chowdsp.com/products.html#tape">ChowDSP ChowTapeModel</a>!)</br>
        Combulator (like resonator, but using comb filters instead)</br>
        Frequency Shifter</br>
        Nimbus (a famous Eurorack live input granularizer)</br>
        Ring Modulator</br>
        Treemonster (pitch-tracked ring modulator from Shortcircuit 2!)</br>
        Vocoder</br>
        Chorus</br>
        Ensemble (BBD-based or clean!)</br>
        Flanger</br>
        Phaser</br>
        Rotary Speaker</br>
        Delay</br>
        Reverb 1</br>
        Reverb 2</br>
        Conditioner (low/high EQ, stereo image and limiter)</br>
        Airwindows (itself containing 53 wonderful effects of various kinds!)</p>
    </div>
  </div>
</div>
