<div class="specs-section filters">
  <div class="left-1 filterblock"></div>
  <div class="right filterblock">
    <div class="text-wrapper">
      <h3 class="spec-heading black-text">Filter block</h3>
      <p class="specs-text-wrapper black-text">Two filter units in 8 different configurations</p>
      <p class="specs-text-wrapper black-text">Feedback loop available in 7 of those configurations</p>
      <p class="specs-text-wrapper black-text">Available filter algorithms: Lowpass (12 and 24 dB/oct, each with 3 variations), Lowpass 24 dB/oct (3 variations), Ladder Lowpass (6-24 dB/oct), Highpass (12 and 24 dB/oct, each with 3 variations), Bandpass (12 and 24 dB/oct, each with 3 variations), Notch (12 and 24 dB/oct, each with 2 variations), Comb (4 variations), S&amp;H</p>
      <p class="specs-text-wrapper black-text">Filters can self-oscillate (with excitation) and respond amazingly fast to cutoff frequency changes.</p>
      <p class="specs-text-wrapper black-text">Waveshaper (5 shapes)</p>
    </div>
  </div>
</div>
