<div class="specs-section filters">
    <div class="left-1 filterblock"></div>
    <div class="right filterblock">
        <div class="text-wrapper">
            <h3 class="spec-heading black-text">Filter Block</h3>
            <p class="paragraph specs-text-wrapper black-text">Two filter units in 8 different configurations.</p>
            <p class="specs-text-wrapper black-text">Feedback loop available in 7 of those configurations.</p>
            <p class="specs-text-wrapper black-text">
                Available filter algorithms: Lowpass (12 and 24 dB/oct, each with 3 variations), Legacy Ladder Lowpass
                (6-24 dB/oct), Vintage Ladder Lowpass (2 variations, each with and without gain compensation), Highpass
                (12 and 24 dB/oct, each with 3 variations), Bandpass (12 and 24 dB/oct, each with 3 variations), Notch
                (12 and 24 dB/oct, each with 2 variations), Allpass (3 variations), Comb (positive and negative),
                S&amp;H.
            </p>
            <p class="specs-text-wrapper black-text">
                Open-source additions to our filter algorithms include: K35 and Diode Ladder filter types from Odin 2
                synthesizer, 12 and 24 dB/oct multimode filters from OB-Xd, and weird but fascinating Cutoff Warp,
                Resonance Warp and Tri-Pole filters by Jatin Chowdhury!
            </p>
            <p class="specs-text-wrapper black-text">
                Filters can self-oscillate (with excitation) and respond amazingly fast to cutoff frequency changes.
            </p>
            <p class="specs-text-wrapper black-text">Waveshaper (43 shapes).</p>
        </div>
    </div>
</div>
