<div class="border-top-thin clearfix mt-2 mt-lg-4">
    <div class="container mx-auto px-2">
        <p class="col-8 sm-width-full left py-2 mb-0">
            This project is maintained by the community at the
            <a class="text-accent" href="http://github.com/surge-synthesizer">surge-synthesizer</a> open source
            project on GitHub.
        </p>
        <div class="right sm-width-full py-2 mb-2 mb-lg-0">
            <div class="">
                <a href="https://twitter.com/intent/tweet?hashtags=Surge">Tweet #{{ site.title }}</a>
            </div>
        </div>
    </div>
</div>
