<div class="specs-section">
    <div class="left-1"></div>
    <div class="right general">
        <div class="text-wrapper">
            <h2 class="heading">Synth Specifications</h2>
            <h3 class="spec-heading">General</h3>
            <p class="specs-text-wrapper">Synthesis method: Subtractive hybrid</p>
            <p class="specs-text-wrapper">
                Each patch contain two scenes which are separate instances of the entire synthesis engine (except
                effects) that can be used to create layered or split patches.
            </p>
            <p class="specs-text-wrapper">Quick category-based patch browser with textual search and favorites</p>
            <p class="specs-text-wrapper">Runs on a variety of operating systems, plugin formats, and architectures</p>
            <h3 class="spec-heading">Factory Sounds</h3>
            <p class="specs-text-wrapper">2779 patches</p>
            <p class="specs-text-wrapper">614 wavetables</p>
        </div>
    </div>
</div>
