<script type=text/javascript>
    function manualChange()
    {
        var selObj = document.getElementById("linkSelect");
        var selValue = selObj.options[selObj.selectedIndex].value;

        switch (selValue)
        {
            case "DE 1.9":
                document.getElementById("manualLinks").innerHTML = "Handbuch";
                document.getElementById("manualLinks").href = "/manual-DE";
                break;
            case "EN 1.9":
                document.getElementById("manualLinks").innerHTML = "Manual";
                document.getElementById("manualLinks").href = "/manual";
                break;
            case "EN XT":
            case "default":
                document.getElementById("manualLinks").innerHTML = "Manual";
                document.getElementById("manualLinks").href = "/manual-xt";
                break;
        }
    }

    function toggleBG()
    {
        const cb = document.getElementById('toggler');

        if (cb.checked)
        {
            document.body.style.overflow = 'hidden';
            document.body.scroll = "no";
        }
        else
        {
            document.body.style.overflow = 'auto';
            document.body.scroll = "yes";
        }
    }
</script>

<header class="header">
    <div class="menu-wrap">
        <input type="checkbox" class="toggler" id="toggler" onclick="toggleBG()"></input>
        <div class="hamburger"><div></div></div>

        <div class="menu">
            <div>
                <div>
                    <ul>
                        {% for item in site.data.surge_navItems.docs %}
                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="header-layout">
        <select class="flagHolder" id="linkSelect" onchange="manualChange()">
            <option value="EN XT">EN</option>
            <option value="EN 1.9">EN</option>
            <option value="DE 1.9">DE</option>
        </select>

        <a id="manualLinks" class="link-primary primary-link" href="/manual">Manual</a>
    </div>
</header>