<header class="header">
   <div class="navbar">
    <div class="left-nav">
      <div class="logoIcon" style="width: 1.5rem; height: 1.5rem; background-image: url(/assets//images/Logo.svg); background-repeat: no-repeat;"></div>
      <a class="link-primary inline-block text-accent" style="margin-left: .5rem;"  href="{{ site.baseurl }}/">Home</a>
    </div>
    <div class="header-layout" >
     <select class="flagHolder" id="linkSelect" onchange="manualChange()">
        <option value="EN">EN</option>
        <option value="DE">DE</option>
      </select>
      <a id="manualLinks" class="link-primary header-link" style="margin-left: 1rem;" href="/manual">Manual</a>
    {% for item in site.data.surge_navItems.docs %}
      <a class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ item.url }}">{{ item.title }}</a>
    {% endfor %}

  </div>
</header>