<div class="hero-section">
  <div class="hero-left">
    <div class="hero-left-text-wrapper">
      <img src="assets/images/SurgeClassicLogo_White.svg" width="95%" alt="Surge-logo" class="image">
      <h1 class="hero-heading">Synthesizer</h1>
      <h1 class="heading-5-copy">It's back, open source, and amazingly powerful.</h1>
      <h1 class="heading-5-copy">Download ({% include stable_build_version %} - {% include stable_build_time %})</h1>
      <div class="download-list">
        <div class="download-platform">
          <h2>macOS</h2>
          <a href="{% include stable_macos_url %}" class="hero-button w-button">64-bit AU & VST3</a>
        </div>
        <div class="download-platform">
          <h2>Windows</h2>
          <a href="{% include stable_win_x64_url %}" class="hero-button w-button">64-bit VST3</a>
          <a href="{% include stable_win_x86_url %}" class="hero-button w-button">32-bit VST3</a>
        </div>
        <div class="download-platform">
          <h2>Linux</h2>
          <a href="{% include stable_linux_x64_url %}" class="hero-button w-button">64-bit LV2 & VST3</a>
        </div>
      </div>

      <h1 class="heading-5-copy">Other ways to get surge</h1>
      <br>
      <p><a class="hero-link" href="https://brew.sh/">HomeBrew</a> on macOS: &nbsp; <code>brew cask install surge-synthesizer</code></p>

      <p>
        Get Surge in
        Arch Linux, KXStudio, FreeBSD, and more.
        <a class="hero-link" href="https://github.com/surge-synthesizer/surge-synthesizer.github.io/wiki/Surge-on-various-unix-like-distributions">
          Learn how here.
        </a>
      </p>

      <p>Want to live on the edge?
        <a href="/nightly" class="hero-link">Download the nightly build.</a>
      </p>
    </div>
  </div>
  <div class="hero-right"></div>
</div>
