<script>
  function getOS() {
    var userAgent = window.navigator.userAgent,
      platform = window.navigator.platform,
      macosPlatforms = ["Macintosh", "MacIntel", "MacPPC", "Mac68K"],
      windowsPlatforms = ["Win32", "Win64", "Windows", "WinCE"],
      iosPlatforms = ["iPhone", "iPad", "iPod"],
      os = null;

    if (macosPlatforms.indexOf(platform) !== -1) {
      os = "macOS";
      document.getElementById("downloadButton").href = `{% include stable_xt_macos_url %}`;
    } else if (iosPlatforms.indexOf(platform) !== -1) {
      os = "iOS";
      document.getElementById("downloadButton").href = "#";
      document.getElementById("downloadButton").style.display = "none";
    } else if (windowsPlatforms.indexOf(platform) !== -1) {
      os = "Windows";
      document.getElementById("downloadButton").href = `{% include stable_xt_win_x64_url %}`;
    } else if (/Android/.test(userAgent)) {
      os = "Android";
      document.getElementById("downloadButton").href = "#";
      document.getElementById("downloadButton").style.display = "none";
    } else if (!os && /Linux/.test(platform)) {
      os = "Linux";
      document.getElementById("downloadButton").href = `{% include stable_xt_linux_x64_url %}`;
    }

    return os;
  }

  function labelUpdate() {
    document.getElementById("downloadButton").innerHTML = "Download for " + getOS();
  }
  </script>

<div class="hero-section">
  <div class="hero-left fade-in">
    <div class="hero-left-text-wrapper" >
      <div style="width: 100%;">
        <img class="logo-image slide-top" src="assets/images/SurgeXTLogo.svg" alt="Surge XT Logo">
        <h4 class="slide-top" style="font-weight: bold; animation-delay: 200ms;">A sound designer's dream.</br>A friendly, open community.</h4>
        <p class="slide-top" style="margin-top: .5rem; animation-delay: 300ms;">Featuring many synthesis techniques, a great selection of filters, a flexible modulation engine, a smorgasbord of effects, and modern features like MPE and microtuning.</p>
        <p class="slide-top" style="animation-delay: 400ms;">Surge XT is a wonderful tool. We love it. We think you will, too!</p>
        <!-- <p class="slide-top" style="font-style: italic; animation-delay: 500ms;">We love it. We think you will, too!</p> -->
        <div class="download-list slide-top" style="animation-delay: 600ms;">
          <div class="download-platform">
            <a href="#" id="downloadButton" class="hero-button w-button grow" style="animation-delay: 700ms;">Download</a>
            <p class="latest-release slide-top" style="animation-delay: 800ms;">Latest Release: XT {% include stable_xt_version %} ({% include stable_xt_build_time %})</p>
            <a class="hero-link slide-top" style="line-height: 1.25rem; animation-delay: 900ms;" href="nightly_XT">Try the Surge XT 1.1 Beta (with CLAP support)</a>
            <a class="hero-link slide-top" style="line-height: 1.25rem; animation-delay: 900ms;" href="https://surge-synthesizer.github.io/downloads">Download Linux, macOS, and Windows versions</a>
            <a class="hero-link slide-top" style="line-height: 1.25rem; animation-delay: 1s;" href="/manual-xt/">Read the Manual</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-right"></div>
</div>
