<script>
  function getOS() {
    var userAgent = window.navigator.userAgent,
      platform = window.navigator.platform,
      macosPlatforms = ["Macintosh", "MacIntel", "MacPPC", "Mac68K"],
      windowsPlatforms = ["Win32", "Win64", "Windows", "WinCE"],
      iosPlatforms = ["iPhone", "iPad", "iPod"],
      os = null;
  
    if (macosPlatforms.indexOf(platform) !== -1) {
      os = "macOS";
      document.getElementById("downloadButton").href = `{% include stable_macos_url %}`;
    } else if (iosPlatforms.indexOf(platform) !== -1) {
      os = "iOS";
      document.getElementById("downloadButton").href = "#";
      // document.getElementById("downloadButton").style.display = none;
    } else if (windowsPlatforms.indexOf(platform) !== -1) {
      os = "Windows";
      document.getElementById("downloadButton").href = `{% include stable_win_x64_url %}`;
    } else if (/Android/.test(userAgent)) {
      os = "Android";
      document.getElementById("downloadButton").href = "#";
      // document.getElementById("downloadButton").style.display = none;
    } else if (!os && /Linux/.test(platform)) {
      os = "Linux";
      document.getElementById("downloadButton").href = `{% include stable_linux_x64_url %}`;
    }
  
    return os;
  }

  function labelUpdate() {
    document.getElementById("downloadButton").innerHTML = "Download for " + getOS();
  }
  </script>

<div class="hero-section">
  <div class="hero-left">
    <div class="hero-left-text-wrapper" >
      <div style="width: 100%;">
        <img class="logo-image" src="assets/images/SurgeClassicLogo_White.svg" alt="Surge-logo">
        <h4 style="font-weight: bold;">A sound designer and performer's dream.</br>A completely free and open source project.</br>A friendly and open community.</h4>
        <p style="margin-top: .5rem;">Featuring many synthesis techniques, a great selection of filters, a flexible modulation engine, a smorgasbord of effects, and modern features like MPE and microtuning.</p>
        <p>Surge is a wonderful tool for making all the sounds and noises your music needs.</p>
        <p style="font-style: italic;">We love it. We think you will, too!</p>
        <div class="download-list">
          <div class="download-platform fade-in">
            <a href="#" id="downloadButton" class="hero-button w-button grow">Download</a>
            <p class="latest-release">Latest Release: {% include stable_build_version %} ({% include stable_build_time %})</p>
            <a class=" hero-link" style="line-height: 1.25rem;" href="https://surge-synthesizer.github.io/downloads">Download Linux, macOS, and Windows versions</a>
            <a class="hero-link" style="line-height: 1.25rem;" href="/manual/">View the Manual</a>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <div class="hero-right"></div>
</div>
