<div class="specs-section-opposite dark-bg">
    <div class="left-1 modulation"></div>
    <div class="right modulation">
        <div class="text-wrapper">
            <h3 class="spec-heading">Modulation</h3>
            <p class="paragraph specs-text-wrapper">
                12 LFO units available, 6 are per voice and 6 are global for the whole scene.
            </p>
            <p class="specs-text-wrapper">DAHDSR envelope generators on every LFO.</p>
            <p class="specs-text-wrapper">
                LFO shapes consist of 7 deformable LFO waveforms, step sequencer, a fully-fledged multi-segment
                envelope generator (MSEG) with various curves and up to 128 nodes, and last but not the least -
                a formula modulator which utilizes Lua scripting language to provide completely custom modulator output.
            </p>
            <p class="specs-text-wrapper">Voice LFOs allow envelope retriggering in step sequencer mode.</p>
            <p class="specs-text-wrapper">
                Extremely fast and flexible modulation routing. Almost every continuous parameter can be modulated!
            </p>
        </div>
    </div>
</div>
