<div class="specs-section-opposite dark-bg">
  <div class="left-1 modulation"></div>
  <div class="right modulation">
    <div class="text-wrapper">
      <h3 class="spec-heading">Modulation</h3>
      <p class="specs-text-wrapper">12 LFO units available, 6 are per voice and 6 are global for the whole scene</p>
      <p class="specs-text-wrapper">DAHDSR envelope generators on every LFO-unit</p>
      <p class="specs-text-wrapper">7 deformable LFO waveforms + drawable/step sequencer waveform</p>
      <p class="specs-text-wrapper">LFO 1 allows envelope retriggering when used as step sequencer</p>
      <p class="specs-text-wrapper">Extremely fast and flexible modulation routing. Almost every continuous parameter can be modulated.</p>
    </div>
  </div>
</div>