<div class="specs-section-opposite">
    <div class="left-1 opposite"></div>
    <div class="right oscillators">
        <div class="text-wrapper">
            <h3 class="spec-heading dark-text">Oscillators</h3>
            <p class="paragraph specs-text-wrapper dark-text">3 oscillators per scene, with 12 versatile oscillator algorithms:
                Classic, Modern, Wavetable, Window, Sine, FM2, FM3, String, Twist, Alias, S&amp;H Noise and Audio Input.
            </p>
            <p class="specs-text-wrapper dark-text">
                Classic oscillator is a morphable pulse/saw/dual saw oscillator with a sub-oscillator and hard sync.
            </p>
            <p class="specs-text-wrapper dark-text">
                Modern oscillator is a mixable saw/pulse/triangle oscillator with an optional sub-oscillator mode for
                triangle (which can also change to sine or square) and hard sync.
            </p>
            <p class="specs-text-wrapper dark-text">
                FM2/FM3 oscillators consist of a carrier and 2 or 3 modulators and various options.
            </p>
            <p class="specs-text-wrapper dark-text">
                String oscillator uses two filtered waveguides to emulate plucked or bowed string sounds.
            </p>
            <p class="specs-text-wrapper dark-text">
                Twist oscillator is based on a very famous Eurorack macro oscillator, and it offers a myriad of
                synthesis options in a very simple and quick way.
            </p>
            <p class="specs-text-wrapper dark-text">
                Most algorithms (except FM2, FM3, Twist and Audio Input) offer up to 16-voice unison at the oscillator
                level.
            </p>
            <p class="specs-text-wrapper dark-text">
                Oscillator FM in 3 different configurations and ring modulation between oscillators 1-2 and 2-3.
            </p>
            <p class="specs-text-wrapper dark-text">
                Most oscillator algorithms (except FM2, FM3, Sine and Alias) are strictly band-limited, yet still cover
                the entire audible spectrum, delivering a clear, punchy and clean sound.
            </p>
            <p class="specs-text-wrapper dark-text">
                Noise generator with variable spectrum (available directly in the oscillator mixer).
            </p>
        </div>
    </div>
</div>
