<div class="specs-section-opposite">
  <div class="left-1 opposite"></div>
  <div class="right oscillators">
    <div class="text-wrapper">
      <h3 class="spec-heading dark-text">Oscillators</h3>
      <p class="specs-text-wrapper dark-text">3 oscillators per voice</p>
      <p class="specs-text-wrapper dark-text">8 versatile oscillator algorithms: Classic, Sine, Wavetable, Window, FM2, FM3, S&amp;H Noise and Audio Input</p>
      <p class="specs-text-wrapper dark-text">Classic oscillator is a morphable pulse/saw/dual saw oscillator with a sub-oscillator and hard-sync.</p>
      <p class="specs-text-wrapper dark-text">The FM2/FM3 oscillators consists of a carrier and 2 or 3 modulators and various options.</p>
      <p class="specs-text-wrapper dark-text">Most algorithms (except FM2, FM3 and Audio input) offer up to 16-voice unison at the oscillator level.</p>
      <p class="specs-text-wrapper dark-text">Oscillator FM and ring modulation between oscillators 1-2 and 2-3</p>
      <p class="specs-text-wrapper dark-text">Most oscillator algorithms (except FM2/FM3) are strictly band-limited, yet still cover the entire audible spectrum, delivering a clear punchy yet clean sound.</p>
      <p class="specs-text-wrapper dark-text">Noise generator with variable spectrum.</p>
    </div>
  </div>
</div>
