<div class="oscsection">
    <div class="playerside">
        <!-- Let's always put newest OSC playlists on top here! -->
        <div class="html-embed w-embed w-iframe">
            <!-- OSC #159 -->
            <iframe
                width="100%"
                height="250"
                scrolling="yes"
                frameborder="no"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1447158379&color=%23ff9300&auto_play=false&hide_related=true&show_comments=true&show_user=false&show_reposts=false&show_teaser=false"
            ></iframe>
        </div>

        <div class="html-embed w-embed w-iframe">
            <!-- OSC #138 -->
            <iframe
                width="100%"
                height="250"
                scrolling="yes"
                frameborder="no"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1121073988&color=%23ff9300&auto_play=false&hide_related=true&show_comments=true&show_user=false&show_reposts=false&show_teaser=false"
            ></iframe>
        </div>

        <div class="html-embed w-embed w-iframe">
            <!-- OSC #122 -->
            <iframe
                width="100%"
                height="250"
                scrolling="yes"
                frameborder="no"
                allow="autoplay"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/769840530&color=%23ff9300&auto_play=false&hide_related=true&show_comments=true&show_user=false&show_reposts=false&show_teaser=false"
            ></iframe>
        </div>
    </div>

    <div class="copyside">
        <h1 class="oscheading">One Synth Challenge,<br />❤️❤️❤️<br />Thank YOU!</h1>
        
        <h4 class="oscheading-2">
            We think it&#x27;s pretty cool that you picked Surge for the One Synth Challenge. And then did it again a few more times!
        </h4>
        
        <h4 class="oscheading-2">
            Surge was in the spotlight of OSC #122, #138 and most recently, #159.
            A talented group of musicians created all these tracks using Surge as the only sound generating device.
            Or - in some exceptional cases - only Surge Effects plugin was used, much to our awe and amazement!
        </h4>

        <h4 class="oscheading-2">
            Do give these tracks a listen, as we think they are a brilliant showcase of flexibility and amazing range of sounds that Surge offers! 
        </h4>

        <p>
            <a href="https://soundcloud.com/pages/cookies">SoundCloud Cookie Policy</a>
        </p>
    </div>
</div>
