<div class="section-requirements" id="systemrequirements">
  <div class="div-block">
    <div class="div-block-2">
      <div class="text-wrapper">
        <h1 class="heading-2 pb-2" style="text-align: left;">System Requirements</h1>
        <h3 class="spec-heading">mac</h3>
        <ul>
          <li class="specs-text-wrapper">Intel MAC running at least macOS 10.11</li>
          <li class="specs-text-wrapper">Minimum of 4GB of RAM</li>
          <li class="specs-text-wrapper">VST-compatible or AU-compatible Host application</li>
        </ul>
      </div>
      <div class="text-wrapper">
        <h3 class="spec-heading">Windows</h3>
        <ul>
          <li class="specs-text-wrapper">Windows 7 and a recent intel processor (at least Pentium 4 or above)</li>
          <li class="specs-text-wrapper"><strong>Recommended:</strong> Computer running Windows 7 64 bit or newer</li>
          <li class="specs-text-wrapper">Minimum of 4GB of RAM</li>
          <li class="specs-text-wrapper">VST-compatible Host application</li>
          <li class="specs-text-wrapper">x64-compatible CPU, OS and Host is required to use the 64-bit version</li>
        </ul>
      </div>

      <div class="text-wrapper">
        <h3 class="spec-heading">Linux</h3>
        <ul>
          <li class="specs-text-wrapper">PC Running a Linux Distro</li>
          <li class="specs-text-wrapper">The computer&#x27;s CPU must support the SSE2 instruction set. This has been supported on Intel CPUs since Pentium 4, and on AMD CPUs since Athlon 64.</li>
          <li class="specs-text-wrapper">Minimum of 4GB of RAM</li>
          <li class="specs-text-wrapper">VST-compatible Host application</li>
          <li class="specs-text-wrapper">x64-compatible CPU, OS and Host is required to use the 64-bit version</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="div-block" id="downloads">
    <div class="div-block-3">
      <h1 class="heading-2" style="text-align: left;">Downloads</h1>
      <!--        <h3 class="heading-3">Latest Release: 1.6.0</h3>-->
      <!--        <a href="https://github.com/surge-synthesizer/releases/releases/download/latest/Surge-Setup.dmg" class="button w-button not-active">1.6.0 macOS Soon!</a>
        <a href="https://github.com/surge-synthesizer/releases/releases/download/latest/Surge-Setup.exe" class="button w-button not-active">1.6.0 Windows Soon!</a>-->
      <!--<a href="#" class="button not-active w-button">Linux Coming Soon!</a>-->
      <h3 class="heading-3">Latest builds:</h3>
      <h3 class="heading-4 caution-text" style="line-height: 1.5rem;"><strong>Use caution, latest builds may be volatile. <br><br>- the Management</strong></h3>
      <a href="{% include latest_macos_url %}" class="hero-link grow">Download latest macOS 64-bit Build</a> ( {% include latest_build_time %} )
      <a href="{% include latest_win_x64_url %}" class="hero-link grow">Download latest Windows 64-bit Build</a> ( {% include latest_build_time %} )
      <a href="{% include latest_win_x86_url %}" class="hero-link grow">Download latest Windows 32-bit Build</a> ( {% include latest_build_time %} )
      <!--<a href="#" class="link not-active">Download Linux Nightly Build</a>-->
    </div>
  </div>
</div>