<div class="tester-section" style="background-color: #005db6;">
  <div class="tester-hero"></div>
  <div class="tester-text">
    <div class="text-container">
      <h3 class="white-text">Testers</h3>
      <p class="white-text"><em>Know any testers? Umm, asking for a friend.</em><br><br>Testing is a way that everyone can help contribute. All you would need to do is install a copy of Surge.<br><br>There are so many combinations of OS&#x27;s and DAW host software that it is <em>really difficult </em>to make sure everything gets tested under all contexts. <br><br>If you would like to get involved jump in over here:<br></p><a href="https://github.com/surge-synthesizer/surge/issues" class="ghost-button-thick-border">View Surge-Synthesizer GitHub Project Page</a>
    </div>
  </div>
</div>