<div class="thanks-section">
  <div class="fixed-content py-4 px-4" style="text-align: left; margin-left: auto; margin-right: auto; max-width: 35rem;">
    <div class="h1 inline-block pt-1 pb-1 bold" style="color: #133562; line-height: 2.5rem;">Surge is back and open source!</div>
    <div class="h4 pt-1 pb-4" style="width: 100%; text-align: left; line-height: 2.0rem;">Thanks to the generosity of <a href="https://github.com/kurasu" style="text-decoration: underline;">@Kurasu</a> (owner of Vember Audio), Surge has been open sourced and lives on GitHub. This page you're reading right now. Yup. This one right here. It's part of the GitHub OSS Surge-Synthesizer project.</div>
  </div>
</div>