<div class="videosection">
    <div class="videoplayerside">
        <div class="playerwrapper">
            <div class="videohtmlembed w-embed w-iframe">
                <iframe
                    width="100%"
                    height="100%"
                    src="https://www.youtube-nocookie.com/embed/ipk5tRGnL2E"
                    title="Roger Linn demonstrates Surge on his Linnstrument"
                    frameborder="0"
                    allow="autoplay; encrypted-media;"
                    allowfullscreen
                >
                </iframe>
            </div>
            <h4 class="videocaptionheading">Roger Linn demonstrates Surge on his Linnstrument.</h4>
        </div>
    </div>
    <div class="videocopyside">
        <h1 class="videosheading">Surge XT Videos</h1>
        <h4 class="videoheading">We have a collection of great demos on our YouTube channel. <br /></h4>
        <a href="https://www.youtube.com/channel/UCnnNU3VTqBMeUaemAZVWIFg" class="videoslink">Explore the videos!</a>
    </div>
</div>
