@import url('https://fonts.googleapis.com/css?family=Lato:400');

html {font-size: 16px;}

body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.25em;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}


// Type scale
$h0-mobile: 30px;
$h0-desktop: 90px;

$h1-size: 11.089em !default;
$h2-size: 6.854em !default;
$h3-size: 4.236em !default;
$h4-size: 2.618em !default;
$h5-size: 1.618em !default;
$h6-size: 0.618em !default;

/* Type utilities */
.h0 {
  font-size: $h0-mobile;
  line-height: 1.0125;
  margin-top: 0.25em;
  word-wrap: break-word;

  @media (min-width: $breakpoint-lg) {
    font-size: $h0-desktop;
  }
}

.header-background { 
  background-image: linear-gradient(-180deg, #000000 0%, #232323 100%); 
  overflow: hidden; 
//  height: 100vh;}
  padding: $spacer-2;
  overflow: hidden;
}

// Hero Flexbox
.split-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
//  padding: 32px;
  flex-wrap: wrap;
  flex-direction: row;
  
  .left-container {
  flex: 0 0 50%;
  height: 100%;
  width: 100%;
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
        }
  
  .right-container {
  position: relative;
  flex: 0 0 50%;
  height: 600px;
  width: auto;
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
/*    &.wrapper{
        width: 100%;
        height: 100%;
        position: relative;
        }*/
    & ::before {
      overflow: hidden;
    }
      }
}
  
.hero-image {
    position: absolute;
    width: 952px;
    height: 600px;
    background-image: url(../assets/images/AU_Hero.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
//  height: 100%;
box-sizing: border-box;
//max-width: 100%;
//max-height: 100%;
//width: 100%;
    }


.hero-button {
  background-image: linear-gradient(-180deg, #FF8A00 0%, #B54C00 99%);
  border-color: clear;
  border-radius: 8px;
  width: 304px;
  height: 48px;
  text-align: center;
  color: white;
  font-weight: 900;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
//  display: none;
  // turn back on
}

.download-button {
  border-radius: 8px;
  height: 48px;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  background: #005CB6;
  border: none;
  font-size: .85rem;
}

.hollow-button {
  border-bottom-color: white;
  border-width: 4px;
  border-radius: 8px;
  width: 304px;
  height: 48px;
  text-align: center;
  color: black;
  font-weight: 900;
  letter-spacing: 1px;
  cursor: pointer;
  border-color: clear;
  
}

.stack-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
//  display: none;
  // Remove Display none
  
  .stack-item {
  flex: 0 1 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  }
  
  .stack-item-margin-negative {
  flex: 0 1 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -4px;
  padding: 0px
  }
}

.section {
  height: 600px;
  background: #005CB6;
}

.section-image {
  background-image: url(../assets/images/Mockup.png);
  height: 550px;
  width: auto;
}

.blue {
    color: blue;
    background-color: blue;
}

.red {
    color: red;
    background-color: red;
}

@media (max-width: $breakpoint-lg) {
  .header-background {
    height: 100%
  }
  .split-container {
    flex-direction: column;
  }
  
  .hero-button {
    
  }
  
  .section {
    height: 100%;
  }
  
  .fixed-content {
    flex-direction: row;
  }
  
}

.pt-0 { padding-top: 0}
.pt-1 { padding-top: $spacer-1}
.pt-2 { padding-top: $spacer-2}
.pt-3 { padding-top: $spacer-3}
.pt-4 { padding-top: $spacer-4}

.pb-0 { padding-bottom: 0}
.pb-1 { padding-bottom: $spacer-1}
.pb-2 { padding-bottom: $spacer-2}
.pb-3 { padding-bottom: $spacer-3}
.pb-4 { padding-bottom: $spacer-4}

.pl-0 { padding-left: 0}
.pl-1 { padding-left: $spacer-1}
.pl-2 { padding-left: $spacer-2}
.pl-3 { padding-left: $spacer-3}
.pl-4 { padding-left: $spacer-4}

.pr-0 { padding-right: 0}
.pr-1 { padding-right: $spacer-1}
.pr-2 { padding-right: $spacer-2}
.pr-3 { padding-right: $spacer-3}
.pr-4 { padding-right: $spacer-4}

$spacer-5: ($spacer / 2) !default; //4 px

h1, h2, h3, h4, h5, h6 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.fixed-content {
  width: 960px;
}

.logo {
  width: 135px;
  height: 39px;
  background-image: url(../assets/images/Logo.png);
}