@import url('https://fonts.googleapis.com/css?family=Lato:400');

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: underline;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  //  line-height: 1.45;
  color: #333;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1rem;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}


// Type scale
$h0-mobile: 30px;
$h0-desktop: 90px;

$h1-size: 11.089rem !default;
$h2-size: 6.854rem !default;
$h3-size: 4.236rem !default;
$h4-size: 2.618rem !default;
$h5-size: 1.618rem !default;
$h6-size: 0.618rem !default;

/* Type utilities */
.h0 {
  font-size: $h0-mobile;
  line-height: 1.0125;
  margin-top: 0.25em;
  word-wrap: break-word;

  @media (min-width: $breakpoint-lg) {
    font-size: $h0-desktop;
  }
}

sup {
  vertical-align: top;
  font-size: 0.6em;
}

.header-background {
  // background-image: linear-gradient(-180deg, #000000 0%, #232323 100%); 
  //  overflow: hidden; 
  //  height: 100vh;}
  padding: $spacer-1;
  padding-left: 2rem;
  padding-right: 2rem;
  //  overflow: hidden;
  background-color: black;
  //    float: right;
  //   width: 100vw;
  //   position: relative;
  display: flex;
  justify-content: flex-end;
}

// Hero Flexbox
.split-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  /* center items vertically, in this case */
  align-items: center;
  /* center items horizontally, in this case */
  //  padding: 32px;
  flex-wrap: wrap;
  flex-direction: row;

  .left-container {
    flex: 0 0 50%;
    height: 100%;
    width: 100%;
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;
    /* center items horizontally, in this case */
  }

  .right-container {
    position: relative;
    flex: 0 0 50%;
    height: 600px;
    width: auto;
    justify-content: center;
    /* center items vertically, in this case */
    align-items: center;

    /* center items horizontally, in this case */
    /*    &.wrapper{
        width: 100%;
        height: 100%;
        position: relative;
        }*/
    & ::before {
      overflow: hidden;
    }
  }
}

.hero-image {
  position: absolute;
  width: 952px;
  height: 600px;
  background-image: url(../assets/images/AU_Hero.png);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  //  height: 100%;
  box-sizing: border-box;
  //max-width: 100%;
  //max-height: 100%;
  //width: 100%;
}

.download-button {
  background-image: linear-gradient(-180deg, #005CB6, #00488F);
  border-radius: 8px;
  height: 48px;
  text-align: center;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  //  background: #005CB6;
  border: none;
  font-size: .85rem;
  text-decoration: none;
}

.ghost-button-thick-border {
  display: inline-block;
  //  width: 304px;
  font-weight: bold;
  padding: 1rem;
  color: #fff;
  border: 4px solid #fff;
  border-radius: .5rem;
  text-align: center;
  outline: none;
  text-decoration: none;
  background-color: clear;
  transition: background-color 0.2s ease-out,
    color 0.2s ease-out;
}

.ghost-button-thick-border:hover,
.ghost-button-thick-border:active {
  background-color: #ffffff;
  color: #000;
  text-decoration: none;
  transition: background-color 0.3s ease-in,
    color 0.3s ease-in;
}

.ghost-button-thick-border-black-text {
  display: inline-block;
  //  width: 304px;
  font-weight: bold;
  padding: 1rem;
  color: #000;
  border: 4px solid #000;
  border-radius: .5rem;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
    color 0.2s ease-out;
}

.ghost-button-thick-border-black-text:hover,
.ghost-button-thick-border-black-text:active {
  background-color: #000;
  color: #ff8f02;
  text-decoration: none;
  transition: background-color 0.3s ease-in,
    color 0.3s ease-in;
}

.ghost-button-thick-border-blue {
  display: inline-block;
  //  width: 304px;
  font-weight: bold;
  padding: 1rem;
  color: #005db6;
  border: 4px solid #005db6;
  border-radius: .5rem;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
    color 0.2s ease-out;
}

.ghost-button-thick-border-blue:hover,
.ghost-button-thick-border-blue:active {
  background-color: #005db6;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.3s ease-in,
    color 0.3s ease-in;
}

.hollow-button {
  border-color: white;
  background-color: white;
  border-width: 4px;
  border-radius: 8px;
  width: 304px;
  height: 48px;
  text-align: center;
  color: white;
  font-weight: 900;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  //  border-color: clear;

}

.dark-text {
  color: #005db6;
}

.stack-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  //  display: none;
  // Remove Display none

  .stack-item {
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .stack-item-margin-negative {
    flex: 0 1 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: -4px;
    padding: 0px
  }
}

.section {
  height: 600px;
  background: #005CB6;
}

.section-image {
  background-image: url(../assets/images/Mockup.png);
  height: 475px;
  max-height: 475px;
  width: auto;
}

.blue {
  color: blue;
  background-color: blue;
}

.red {
  color: red;
  background-color: red;
}

@media (max-width: $breakpoint-lg) {}

.pt-0 {
  padding-top: 0
}

.pt-1 {
  padding-top: $spacer-1
}

.pt-2 {
  padding-top: $spacer-2
}

.pt-3 {
  padding-top: $spacer-3
}

.pt-4 {
  padding-top: $spacer-4
}

.pb-0 {
  padding-bottom: 0
}

.pb-1 {
  padding-bottom: $spacer-1
}

.pb-2 {
  padding-bottom: $spacer-2
}

.pb-3 {
  padding-bottom: $spacer-3
}

.pb-4 {
  padding-bottom: $spacer-4
}

.pl-0 {
  padding-left: 0
}

.pl-1 {
  padding-left: $spacer-1
}

.pl-2 {
  padding-left: $spacer-2
}

.pl-3 {
  padding-left: $spacer-3
}

.pl-4 {
  padding-left: $spacer-4
}

.pr-0 {
  padding-right: 0
}

.pr-1 {
  padding-right: $spacer-1
}

.pr-2 {
  padding-right: $spacer-2
}

.pr-3 {
  padding-right: $spacer-3
}

.pr-4 {
  padding-right: $spacer-4
}

$spacer-5: ($spacer / 2) !default; //4 px

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.fixed-content {
  width: 960px;
  flex-direction: row;
  align-content: stretch;
  justify-content: center;
}

.logo {
  width: 135px;
  height: 39px;
  background-image: url(../assets/images/SurgeClassicLogo_White.svg);
}

.sounds-section {
  width: 100%;
  padding: 4rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.soundcloud-palyer {
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: darkgrey;
}

.youtube-player {
    height: 100%;
    width: 100%;
    max-height: 315px;
    max-width:  560px;
    margin-left: auto;
    margin-right: auto;
}

.requirements-heading {
  text-align: left;
}

.downloads-heading {
  text-align: left;
}

.download-links {
  padding-top: 1rem;
}

.nightly-heading {
  padding-top: 1rem;
}

.updated-on {
  color: white;
  padding-top: 1rem;
}

//Paste new stuff below here

.white-text {
  color: #ffffff;
}

.black-text {
  color: #000;
}

.specs-section {
  display: flex;
  min-height: 600px;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  background-color: #005cb6;
}

.specs-section.filters {
  background-color: #ff8f02;
}

.specs-section.effects-section {
  background-color: #fff;
}

.right {
  //  padding: 4rem;
  flex: 0 0 50%;
  float: right;
}

.right.filterblock {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.right.modulation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.right.effects {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.right.general {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.right.oscillators {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
}

.left-1 {
  margin: 0rem;
  padding: 4rem;
  flex: 0 0 50%;
  background-image: url('../assets/images/Patches.jpg');
  background-position: 100% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.left-1.opposite {
  background-image: url('../assets/images/Oscillator.jpg');
  background-position: 0px 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.left-1.filterblock {
  background-image: url('../assets/images/Filter.jpg');
  background-position: 100% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.left-1.modulation {
  background-image: url('../assets/images/Modulation.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.left-1.effects {
  background-image: url('../assets/images/FX.jpg');
  background-position: 100% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.heading {
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.spec-heading {
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.spec-heading.dark-text {
  color: #005db6;
}

.spec-heading.black-text {
  color: #000;
}

.specs-section-opposite {
  display: flex;
  min-height: 600px;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background-color: #fff;
}

.specs-section-opposite.dark-bg {
  background-color: #005db6;
}

.text-wrapper {
  width: 23rem;
}

.text-notransform {
  text-transform: none !important;
}

.specs-text-wrapper {
  color: #fff;
  text-align: left;
}

.specs-text-wrapper.dark-text {
  color: #005db6;
}

.specs-text-wrapper.black-text {
  color: #000;
}

.section-requirements {
  display: flex;
  min-height: 600px;
  background-color: #005db6;
  padding-top: 4rem;
}

.div-block {
  padding: 4rem;
  flex: 1;
}

.heading-2 {
  color: #fff;
  text-align: center;
}

.div-block-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.div-block-3 {
  display: flex;
  width: 23rem;
  flex-direction: column;
  padding-bottom: 4rem;
}

.heading-3 {
  color: #fff;
}

.button {
  display: flex;
  width: 100%;
  height: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background-image: linear-gradient(180deg, #004c94, #002f5c);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .25);
  text-align: center;
  color: white;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.heading-4 {
  text-transform: uppercase;
}

.heading-4.caution-text {
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.link {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.hero-section {
  display: flex;
  // min-height: 53rem;
  background-image: linear-gradient(180deg, #000, #232323);
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;;
  // padding: 4rem;
  height: 100vh;
}

.hero-right {
  // margin: 2rem;
  margin: .5rem;
  flex: 50%;
  background-image: url('../assets/images/AU_Hero.png');
  background-position: 0px 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-left {
  display: flex;
  justify-content: center;
  flex: 50%;
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
}

.hero-left-text-wrapper {
  display: flex;
  padding-right: 4rem;
  padding-left: 4rem;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  // margin-top: 4rem;
  max-width: 37rem;
  margin-left: auto;
  margin-right: auto;
}

.hero-heading {
  margin-top: 1rem;
  margin-bottom: 0px;
  font-size: 90px;
  line-height: 82px;
  font-weight: 400;
  letter-spacing: 3px;
}

.heading-5-copy {
  margin-top: 1rem;
  margin-bottom: 0px;
  color: #fff;
  // font-size: 24px;
  // line-height: 24px;
  font-weight: 400;
}

.image {
  margin-top: 1rem;
}

.logo-image {
  max-width: 35rem;
  margin-bottom: 1.2rem;
  margin-top: 1rem;
  width: 95%;
}

.download-list {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 1rem;

  .download-platform {
    display: flex;
    flex-direction: column;
    width: 100%;

    + .download-platform {
      border-left: 0.1rem solid #fff;
      margin-left: 1rem;
      padding-left: 1rem;
    }

    h2 {
      font-size: 1.25rem;
    }

    a {
      margin-top: 0.2rem;
      margin-bottom: 0.75rem;
      // line-height: 1.5rem;
      // white-space: nowrap;
    }
  }
}

.download-list-nightlies {
  width: 100%;
  text-align: left;

  > * {
    margin: 0;
  }
}

.hero-button {
  display: inline-block;
  // line-height: 2.75rem;
  margin-top: 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  // background-image: linear-gradient(180deg, #ff8a00, #b54c00);
  // background-color: #ff9000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.75px;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;
  // text-decoration: none;
  color: #ff9000;
  border-color: #ff9000;
  border-width: .25rem;
  border-style: solid;
  // display: none;
  transition: all .2s ease-in-out; 
  &:hover {
    color: #000000;
    border-color: #ffffff;
    border-width: .25rem;
    border-style: solid;
    background-color: #fff;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.1);
  }
}

.hero-link {
  margin-top: 1.5rem;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
  text-decoration: underline;
  white-space: pre-wrap;
}

.digital-section {
  display: flex;
  min-height: 550px;
  background-color: #005db6;
  flex-direction: row-reverse;
}

.digital-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
  padding-right: 2rem;
}

.digital-left {
  flex: 1;
  justify-content: flex-start;
  background-image: url('../assets/images/Mockup.png');
  background-position: left center;
  background-size: auto 80%;
  background-repeat: no-repeat;
}

.heading-6 {
  color: #fff;
  font-size: 70px;
  line-height: 70px;
  font-weight: 400;
  text-align: left;
  margin-left: -5px;
}

.paragraph {
  margin-top: 1rem;
  color: #fff;
}

.paragraph-black {
  margin-top: 1rem;
  color: #000;
}

.digital-text-wrapper {
  width: 24rem;
}

ul {
  list-style-position: outside;
  padding: 18px;
  line-height: 1.75rem;
}

.not-active {
  pointer-events: none;
  cursor: none;
  text-decoration: none;
  color: black;
}

.border-top-thin.clearfix.mt-2.mt-lg-4 {
  margin-top: 0;
}

.nightly-text {
  padding-top: 1rem;
}

#downloads {
  margin-top: -1rem;
  padding-bottom: 0px;
}

.sounds-wrapper {
  background-image: linear-gradient(-35deg, #005CB6 0%, #FF8A00 100%);
  text-align: center;
}

// Animation

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

//CONTRIBUTER SECTION ADDITIONS

.contributer-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: #103364;
}

.developer-text {
  padding: 4rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 50%;
  display: flex;
}

.developer-heading {
  text-align: left;
}

.developer-hero {
  padding: 5rem;
  flex: 50%;
  background-image: url('../assets/images/devloper-workflow.jpg');
  background-position: 0px 50%;
  background-size: cover;
  background-repeat: no-repeat;
    flex-grow: 1;
    flex-shrink: 1;
}

.text-container {
  width: 450px;
  text-align: left;
}

.heading {
  position: relative;
  left: -2px;
}

.button {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  border: 4px solid #0096ff;
  border-radius: 8px;
  background-color: transparent;
  color: #3798eb;
}

.button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ffa600;
  border-radius: 8px;
  background-color: transparent;
  color: #ff9c00;
}

.developer-section-copy {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: #005db6;
}

.tester-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: #fff;
  background-color: #005db6;
}

.thanks-section {
  background-color: white;
  display: flex;
}

.content-creator-section {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: stretch;
  //  background-color: #fff;
  background-color: #ff8f02;
}

.content-creators-hero {
  padding: 5rem;
  flex: 50%;
  background-image: url('../assets/images/Screen-Shot-2019-02-02-at-3.21.59-PM.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.tester-hero {
  padding: 5rem;
  flex: 50%;
  background-image: url('../assets/images/Source-GUI-Screen_001.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.contributer-text {
  display: flex;
  padding: 4rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 50%;
}

.tester-text {
  display: flex;
  padding: 4rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 50%;
}

.paragraph {
  padding-top: 1rem;
}

.content-creator-text {
  display: flex;
  padding: 4rem;
  justify-content: center;
  align-items: center;
  flex: 50%;
}

.community-section {
  display: flex;
  padding: 4rem;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
  background-color: #fff;
}

.designer-section {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  background-color: #ff8f02;
}

.designer-hero {
  padding: 6rem;
  flex-basis: 50%;
  background-image: url('../assets/images/Screen-Shot-2019-02-02-at-2.55.09-PM.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  flex-grow: 1;
  flex-shrink: 1;
}

.designer-text {
  display: flex;
  padding: 4rem;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}

.community-header {
  color: #133562;
  text-align: left;
}

.contributor-heading {
  text-align: left;
  margin-left: -.25rem;
}

.oscsection {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  flex-wrap: nowrap;
  background-image: linear-gradient(320deg, transparent, #202020), linear-gradient(180deg, #103364, #103364 82%, #103364);
  color: #fff;
}

.osccontainer {
  padding: 1rem 2rem 2rem;
  background-image: none;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.playerside {
  flex: 0 70%;
}

.copyside {
  padding: 2rem;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 30%;
  -ms-flex: 0 30%;
  flex: 0 30%;
}

.oscheading {
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 1rem;
  color: #ff9000;
}

.oscheading-2 {
  width: 37rem;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 2rem;
  line-height: 1.5;
}

pre {
  background-color: #fff;
  width: 100%;
  margin: 0rem auto;
  padding: 0.5rem;
  border-radius: .25rem;
  box-shadow: .1rem .1rem .5rem rgba(0,0,0,.45);
  counter-reset: line;
  border-left: .5rem solid #ff8a00;

  
  span {
    line-height: 1.5rem;
    color: #043367;
    
    &:before {
      counter-increment: line;
      content: counter(line);
      padding: 0 .5rem;
      margin-right: .5rem;
      color: #043367;
    }
  }
}

//Videos section

.videosheading {
  margin-top: auto;
  margin-bottom: auto;
  padding-bottom: 1rem;
  color: #fff;
  text-align: left;
}

.videoplayerside {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
  text-align: right;
}

.videosection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 2rem;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  background-image: linear-gradient(336deg, #005cb6, #ff8a00);
  color: #fff;
}

.videoslink {
  color: #fff;
  text-decoration: underline;
}

.videoheading {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 1rem;
  text-align: left;
}

.videocaptionheading {
  text-align: center;
}

.videocopyside {
  padding: 2rem;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 50%;
  -ms-flex: 0 50%;
  flex: 0 50%;
}

.videohtmlembed {
  width: 560px;
  height: 315px;
}


// Responsive Stuff

@media (max-width: 991px) {
    
    .fixed-content {
        width: 100%;
    }
    
  .specs-section {
    flex-direction: column;
  }

  .left-1 {
    padding-top: 11rem;
  }

  .left-1.opposite {
    padding-top: 15rem;
  }

  .left-1.filterblock {
    padding-top: 18rem;
  }

  .left-1.effects {
    padding-top: 17rem;
  }

  .specs-section-opposite {
    flex-direction: column;
  }

  .section-requirements {
    flex-direction: column;
    align-items: center;
  }

  .div-block {
    padding: 2rem;
  }

  .hero-section {
    display: block;
    height: auto;
    padding-bottom: 2rem;
    flex-direction: column;
  }

  .hero-right {
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 28rem;
    align-self: stretch;
    flex: 1;
    background-position: 50% 0px;
    background-size: contain;
  }

  .hero-left {
    display: block;
    justify-content: center;
    align-self: center;
    flex: 1;
  }

  .hero-left-text-wrapper {
    padding-right: 0rem;
    padding-left: 0rem;
    padding-bottom: 2rem;
    align-items: center;
    // margin-top: 4rem;
  }

  .hero-heading {
    text-align: center;
  }

  .digital-section {
    display: block;
    flex-direction: column;
    padding: 4rem;
    
  }

  .digital-right {
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;
  }

  .digital-left {
    height: 195px;
    padding-top: 36rem;
    background-position: center center;
  }

  .contributer-section {
    flex-direction: column-reverse;
  }

  .developer-section-copy {
    flex-direction: column;
  }

  .tester-section {
    flex-direction: column;
  }

  .content-creator-section {
    flex-direction: column;
    color: #ff8f02;
  }

  .community-section {
    flex-direction: column-reverse;
    align-items: center;
      
  }

  .designer-section {
    flex-direction: column;
  }
  
  .oscsection {
    justify-content: center;
    flex-wrap: wrap-reverse;
  }
  .html-embed {
    width: 100%;
  }
  
  pre {
    max-width: 75%;
  }
    
  .videosheading {
    text-align: center;
  }
  .videoplayerside {
    padding-bottom: 4rem;
  }
  .videosection {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
  .videoslink {
    text-align: center;
  }
  .videoheading {
    text-align: center;
  }
  .videocopyside {
    text-align: center;
  }
  .videohtmlembed {
    width: 560px;
  }
    
  .download-list-nightlies {
      text-align: center;
    }
}


@media (max-width: 767px) {
  .hero-right {
    height: auto;
    padding-top: 22rem;
  }

  .hero-heading {
    font-size: 82px;
    line-height: 70px;
  }

  .download-list {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;

    .download-platform {
      display: flex;
      flex-direction: column;

      + .download-platform {
        border-left: 0rem solid;
        margin-left: 0rem;
        padding-left: 0rem;
      }
      h2 {
        text-align: center;
      }
    }
  }
    
    .developer-hero {
        max-width: 100%;
    }
    
    .designer-hero {
        max-width: 100%
    }
    
    .tester-hero {
        max-width: 100%;
    }
    
    .content-creators-hero {
        max-width: 100%;
    }
    
    .text-container {
        width: auto;
    }

  .digital-left {
    padding-top: 31rem;
  }
  
  .oscheading {
    width: 100%;
  }
  .oscheading-2 {
    width: 100%;
  }
  pre {
    max-width: 75%;
  }
    
  .videosheading {
    width: 100%;
  }
  .videoheading {
    width: 100%;
  }
  .videocopyside {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
  }
  .videohtmlembed {
    width: 390px;
    height: 222px;
  }

    .left-1 {
        max-width: 100%
    }
.text-wrapper {
    width: auto;
    }
}

@media (max-width: 479px) {
  .specs-section {
    //    display: block;
  }

  .left-1.filterblock {
    background-position: 50% 50%;
  }

  .heading {
    font-size: 16px;
    text-align: left;
  }

  .spec-heading {
    font-size: 22px;
    text-align: left;
  }

  .specs-section-opposite {
    //    display: block;
  }

  .text-wrapper {
    width: auto;
  }

  .specs-text-wrapper {
    font-size: 14px;
    text-align: left;
  }

  .section-requirements {
    display: block;
  }

  .div-block {
    padding-top: 0rem;
  }

  .heading-2 {
    font-size: 24px;
  }

  .div-block-3 {
    width: auto;
    align-items: center;
  }

  .heading-3 {
    font-size: 18px;
    line-height: 19px;
  }

  .button {
    width: 224px;
    font-size: 16px;
  }

  .heading-4.caution-text {
    text-align: center;
  }

  .hero-right {
    display: none;
    width: 95%;
    height: 210px;
    margin-right: auto;
    margin-left: auto;
    background-size: contain;
  }

  .hero-left-text-wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  .hero-heading {
    font-size: 40px;
    line-height: 40px;
  }

  .heading-5-copy {
    font-size: 16px;
    text-align: left;
  }

  .hero-button {
    width: 100%;
    font-size: 16px;
  }

  .hero-link {
    font-size: 14px;
  }

  .digital-left {
    padding-top: 13rem;
  }

  .heading-6 {
    font-size: 60px;
  }

  .digital-text-wrapper {
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .div-block-2 {
    align-items: stretch;
  }

  .caution-text {
    font-size: 14px;
  }

  .contributer-section {
    display: block;
  }

  .developer-text {
    padding: 4rem;
  }

  .text-container {
    width: auto;
  }

  .heading {
    font-size: 22px;
    line-height: 24px;
  }

  .developer-section-copy {
    display: block;
  }

  .tester-section {
    display: block;
  }

  .content-creator-section {
    display: block;
  }

  .heading-2 {
    font-size: 20px;
    line-height: 24px;
  }

  .contributer-text {
    padding: 4rem;
  }

  .tester-text {
    padding: 4rem;
  }

  .content-creator-text {
    padding: 4rem;
  }

  .community-section {
    display: block;
    padding: 4rem;
  }

  .designer-text {
    padding: 4rem;
  }

  h4 {
    font-size: 1rem;
  }

  p {
    font-size: 14px;
  }


  
  pre {
    max-width: 100%;
    font-size: 9px;
  }
    
 .videosection {
    padding: 1rem;
  }
  .videocopyside {
    padding: 1rem;
  }
  .videohtmlembed {
    width: 210px;
    height: 117px;
  }
    
    .left-1 {
        max-width: 100%;
    }
}

select {
  outline: none;
  padding: 0 .55rem;
  border-radius: .25rem;
  color: #ffffff;
  padding-right: 1.75rem;
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  position: relative;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: #313131 url("data:image/svg+xml;utf8,<svg viewBox='0 0 140 140' width='16' height='16' xmlns='http://www.w3.org/2000/svg'><g><path d='m121.3,34.6c-1.6-1.6-4.2-1.6-5.8,0l-51,51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8,0-1.6,1.6-1.6,4.2 0,5.8l53.9,53.9c0.8,0.8 1.8,1.2 2.9,1.2 1,0 2.1-0.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2 0.1-5.8z' fill='white' stroke='white' stroke-width='4'/></g></svg>") no-repeat;
  background-position: right .5rem top 50%;
    // margin-right: 1rem;
  margin-left: 1rem;
}

.header-layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  padding: 1rem 1.5rem;
  align-items: center;
  width: 50%;
}

.left-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 1rem 1.5rem;
  align-items: center;
  width: 50%;
}

.navbar {
  display: flex;
  flex-flow: row wrap;
}

.header {
  background-color: #ff9000;
  color: black;
  z-index: 5;
  width: 100%;
  position: sticky; 
  top: 0;
  box-shadow: 0px 4px 4px 0px rgba(210,126,0,0.45);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(210,126,0,0.45);
  -moz-box-shadow: 0px 4px 4px 0px rgba(210,126,0,0.45);
}

.fade-in {
	opacity: 1;
	animation-name: fade-in;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.grow {
  transition: all .2s ease-in-out;  
  // transform-origin: center;
}
.grow:hover {
  transform: scale(1.1);
  // transform-origin: 100% -75%;
}

.latest-release {
  color: #ffffff;
  // font-size: 24px;
  // line-height: 24px;
  font-weight: 400;
}

// .move-up {
//   transform: translate(0, 1.5rem, 0);
// }