// Default black theme

// Color variables
$black: #181818;
$red: #ff5e00;
$red-small: #DC3918;
$white: #fff;
$surge-orange: #ff9000;
$surge-blue: #005cb6;

// Config
$color-background: $black !default;
$color-dot-accent: $white !default;
$color-foreground: $white !default;
$color-title: $white !default;
$color-body-text: $black !default;
$color-text-accent: $black !default;
$color-code: $red-small !default;
$color-nav-link: $white !default;
$color-primary-link: $white !default;

.font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities",
        "surge"
;
