thead {
    display: none;
}
.wrapper {
    display: flex;
}
.toggle {
    display: none;
}
.toc {
    top: 60px;
    left: 0;
    position: sticky;
    background-color: #313131;
    color: #dedede;
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: auto;
    flex-shrink: 0;
    width: fit-content;
    margin: 0;
    padding: 10px 10px 0 10px;
}
.toc ul,
.toc li {
    list-style-type: none;
    list-style-position: inside;
    padding: 0;
    margin: 0;
}
.toc a {
    text-decoration: none;
}
.toc a:hover {
    text-decoration: underline solid;
}
[class="1"] {
    font-weight: bold;
    list-style-type: none !important;
    padding: 0 0 10px 0 !important;
}
[class="2"] {
    font-weight: initial;
    list-style-type: disc !important;
    padding: 0 0 0 10px !important;
}
[class="3"] {
    font-weight: initial;
    list-style-type: circle !important;
    padding: 0 0 0 25px !important;
}
.content {
    width: 100%;
}
.content img {
    max-width: 100%;
}

@media screen and (max-width: 800px) {
    .toc {
        display: none;
        position: fixed;
        min-width: 100%;
    }
    .toggle {
        display: initial;
        top: 20px;
        left: 90px;
        background-color: #ff9000;
        border: 0;
        cursor: pointer;
        user-select: none;
    }
}
