---
import DefaultChangelog from "@layouts/changelog.astro";
import Page from "@components/page.astro";

const allChangelogs = await Astro.glob(`../content/changelogs/*.mdx`);

const changelogs = allChangelogs.map((entry) => ({
    title: entry.frontmatter.title,
    id: entry.frontmatter.id,
    Content: entry.Content,
}));

const title = "Changelog";
---

<DefaultChangelog title={title} {...Astro.props}>
    <Page title={title}>
        <p>
            This page contains changelogs for all release versions of Surge. For
            the latest developments, we are keeping a <a
                href="/nightlychangelog"
                >separate nightlies changelog, which will be merged to this page
                upon release</a
            >.
        </p>

        <p>
            Changelogs for versions prior to Surge XT 1.0 release can be found <a
                href="/old-changelogs">here.</a
            >
        </p>

        {
            changelogs
                .map(({ title, id, Content }) => (
                    <>
                        <h1
                            class="underline decoration-dotted underline-offset-8 hover:cursor-pointer hover:decoration-solid"
                            id={id}
                            onclick={"toggle(id)"}>
                            {title}
                        </h1>
                        <div
                            class={
                                id === "1.2.3"
                                    ? "flex flex-col gap-8"
                                    : "flex flex-col gap-8"
                            }
                            id={id + "-block"}>
                            <Content />
                        </div>
                    </>
                ))
                .reverse()
        }
    </Page>
</DefaultChangelog>

<script is:inline>
    function toggle(e) {
        let id = document.getElementById(e + "-block");

        window.getComputedStyle(id).getPropertyValue("display") == "flex"
            ? (id.style.display = "none")
            : (id.style.display = "flex");
    }
</script>
