---
import { getEntry } from "astro:content";

import Default from "layouts/default.astro";
import Toc from "components/toc.astro";

const manual = await getEntry("pages", "manual");

const { Content } = await manual.render();
---

<Default title={manual.data.title} toc={true}>
    <Toc />
    <div class="wrapper">
        <div id="pagecontent">
            <span class="title">{manual.data.title}</span>
            <Content />
        </div>
    </div>
</Default>
