---
import { getEntry, render } from "astro:content";
import Default from "../layouts/default.astro";
import Toc from "../components/toc.astro";

const manual = await getEntry("pages", "manual");

if (!manual) {
    throw new Error("Could not find entry");
}

const { Content } = await render(manual);
---

<Default title={manual.data.title} toc={true}>
    <Toc />
    <div class="wrapper">
        <div id="pagecontent">
            <span class="title">{manual.data.title}</span>
            <Content />
        </div>
    </div>
</Default>
