---
import { getCollection } from "astro:content";

import Default from "layouts/default.astro";
import Toc from "components/toc.astro";
import SurgeLogo from "components/surge_logo.astro";

const sections = (await getCollection("manual_xt")).sort((a, b) => a.data.order - b.data.order);
---

<Default title="User Manual" toc={true}>
    <Toc />
    <div class="wrapper">
        <div id="pagecontent">
            <span class="title">User Manual</span>
            <div class="flex justify-center"><SurgeLogo /></div>
            <img class="m-auto mb-4" src="/images/manual-xt/Pictures/surge.png" />
            {
                sections.map((section) => (
                    <>
                        {async () => {
                            const { Content } = await section.render();
                            return <Content />;
                        }}
                    </>
                ))
            }
        </div>
    </div>
</Default>
