---
import DefaultChangelog from "@layouts/changelog.astro";
import Page from "@components/page.astro";

const allChangelogs = await Astro.glob(`../content/old_changelogs/*.mdx`);

const changelogs = allChangelogs.map((changelog) => ({
    title: changelog.frontmatter.title,
    id: changelog.frontmatter.id,
    Content: changelog.Content,
}));

const title = "Surge - Old Changelogs";
---

<DefaultChangelog title={title} {...Astro.props}>
    <Page title={title}>
        <p>
            This page contains changelogs for all release versions of Surge,
            prior to Surge XT.
        </p>

        <p>
            Changelogs for Surge XT can be found <a href="/changelog">here</a>.
        </p>

        {
            changelogs
                .map(({ title, id, Content }) => (
                    <>
                        <h1
                            class="underline decoration-dotted hover:cursor-pointer hover:decoration-solid"
                            id={id}
                            onclick={"toggle(id)"}>
                            {title}
                        </h1>
                        <div
                            class={
                                id === "1.9.0.0"
                                    ? "flex flex-col gap-8"
                                    : "hidden flex-col gap-8"
                            }
                            id={id + "-block"}>
                            <Content />
                        </div>
                    </>
                ))
                .reverse()
        }
    </Page>
</DefaultChangelog>

<script is:inline>
    function toggle(e) {
        let id = document.getElementById(e + "-block");

        window.getComputedStyle(id).getPropertyValue("display") == "flex"
            ? (id.style.display = "none")
            : (id.style.display = "flex");
    }
</script>
