---
import { getEntry, render } from "astro:content";

import Default from "layouts/default.astro";
import Toc from "components/toc.astro";

const rack_xt_manual = await getEntry("pages", "rack_xt_manual");

if (!rack_xt_manual) {
    throw new Error("Could not find entry");
}

const { Content } = await render(rack_xt_manual);
---

<Default title={rack_xt_manual.data.title} toc={true}>
    <Toc />
    <div class="wrapper">
        <div id="pagecontent">
            <span class="title">{rack_xt_manual.data.title}</span>
            <Content />
        </div>
    </div>
</Default>

<style is:inline>
    img {
        max-height: 500px;
    }
</style>
