---
import { getEntry } from "astro:content";

import Default from "layouts/default.astro";
import Toc from "components/toc.astro";

const engine = await getEntry("pages", "skin-engine");

const { Content } = await engine.render();

import * as skin_autodoc from "includes/skin_autodoc.md";
const AutoDoc = skin_autodoc.Content;
---

<Default title={engine.data.title} toc={true}>
    <Toc />
    <div class="wrapper">
        <div id="pagecontent">
            <span class="title">{engine.data.title}</span>
            <Content />
            <AutoDoc />
        </div>
    </div>
</Default>
