---
import { getEntry } from "astro:content";

import Default from "layouts/default.astro";
import Toc from "components/toc.astro";

const tuning_guide = await getEntry("pages", "tuning-guide");

const { Content } = await tuning_guide.render();
---

<Default title={tuning_guide.data.title} toc={true}>
    <Toc />
    <div class="wrapper">
        <div id="pagecontent">
            <span class="title">{tuning_guide.data.title}</span>
            <Content />
        </div>
    </div>
</Default>
