---
const {} = Astro.props;
import PanelSingle from "@components/panel_single.astro";
import CommunityButton from "@components/community_button.astro";
---

<PanelSingle>
    <h1>Community</h1>
    <p>
        We love Surge XT. We <strong><em>also</em></strong> love people.
    </p>
    <p>
        Community is a <strong><em>big thing to us</em></strong> on this
        project. We want an inclusive, positive, and happy community with
        contributions from a large set of differing viewpoints and backgrounds.
    </p>
    <p>
        Let's be kind to each other and treat each other with respect. It takes
        all of us working together to make the community great.
    </p>
    <p>We are looking forward to your insights and contributions.</p>
    <p>Let's make something amazing!</p>
    <p>~Surge Synth Team</p>

    <CommunityButton />
</PanelSingle>
