---
import Panel from "../panel.astro";
import PanelItem from "../panel_item.astro";
import PanelText from "../panel_text.astro";
import Button from "../orange_button.astro";
---

<Panel style="bg-surgeOrange text-black">
    <PanelItem>
        <div class="flex h-36 bg-[url('/images/designers.jpg')] bg-cover bg-no-repeat md:hidden">
        </div>
        <PanelText>
            <div class="my-4 text-3xl font-bold">Designers</div>

            <p>
                If you would like to pitch in and have interests in UX, UI, visual design or any
                other design related topics, there are plenty of open issues.
            </p>

            <p>
                The #surge-design channel on Surge Synth Team Discord server can help you find
                something to get started with.
            </p>

            <Button text="Join Surge Synth Team Discord Server" url="https://discord.gg/spGANHw" />
        </PanelText>
    </PanelItem>

    <div class="hidden h-full bg-[url('/images/designers.jpg')] bg-cover bg-no-repeat md:flex">
    </div>
</Panel>
