---
import PanelSingle from "components/panel_single.astro";
---

<PanelSingle>
    <p>
        This project is maintained by the community at the <a
            href="http://github.com/surge-synthesizer">surge-synthesizer</a
        > open source project on GitHub.
    </p>
    <p><a href="https://twitter.com/intent/tweet?hashtags=Surge">Tweet #Surge</a></p>
</PanelSingle>
