---
import DownloadButton from "../download_button.astro";
import HeroImage from "../hero_image.astro";
import Panel from "../panel.astro";
import PanelItem from "../panel_item.astro";
import PanelText from "../panel_text.astro";
import SurgeLogo from "../surge_logo.astro";
import surge_build_stable from "../../content/generated/surge-build-stable.json" with { type: "json" };
---

<Panel
    style="bg-gradient-to-b from-neutral-50 to-neutral-200 dark:from-neutral-900 dark:to-neutral-950">
    <PanelItem>
        <PanelText>
            <SurgeLogo />

            <div class="my-4 text-xl font-bold">A sound designer's dream.</div>

            <div class="my-4 text-xl font-bold">A friendly, open community.</div>

            <p>
                Featuring many synthesis techniques, a great selection of filters, a flexible
                modulation engine, a smorgasbord of effects, and modern features like MPE,
                microtuning (Scala and MTS-ESP), and comprehensive Open Sound Control (OSC) support.
            </p>

            <p>Surge XT is a wonderful tool and we love it. We think you will, too!</p>

            <DownloadButton />

            <p><a href="/downloads">Downloads for other platforms and installers</a></p>
            <p><a href="/changelog">What's new in Surge XT {surge_build_stable.version}?</a></p>
            <p><a href="/manual-xt">Read the manual</a></p>
            <p><a href="/clap">Learn more about the CLAP standard</a></p>
            <p>
                <a
                    href="https://github.com/surge-synthesizer/surge/blob/main/doc/Linux%20and%20Other%20Unix-like%20Distributions.md#packages-and-ports">
                    Surge XT ports maintained by other projects
                </a>
            </p>
        </PanelText>
    </PanelItem>

    <PanelItem>
        <HeroImage />
    </PanelItem>
</Panel>
