---
const {} = Astro.props;
import PanelSingle from "@components/home/panel_single.astro";
---

<PanelSingle>
    <h1>Surge is back, XTended and open source!</h1>
    <p>
        Thanks to the generosity of @Kurasu (owner of Vember Audio), Surge has
        been open sourced and lives on GitHub. This page you're reading right
        now. Yup! This one right here. It's a part of the surge-synthesizer
        GitHub project.
    </p>
</PanelSingle>
