---
import Panel from "../panel.astro";
import PanelItem from "../panel_item.astro";
import PanelText from "../panel_text.astro";
import PanelMedia from "../panel_media.astro";
---

<Panel
    style="bg-gradient-to-br from-surgeOrange to-backgroundBlue text-neutral-200 [&_a]:text-white">
    <PanelItem>
        <PanelMedia>
            <div class="text-center">
                <iframe
                    class="aspect-video w-full"
                    src="https://www.youtube-nocookie.com/embed/ipk5tRGnL2E"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen>
                </iframe>

                <p>Roger Linn demonstrates Surge on his Linnstrument</p>
            </div>
        </PanelMedia>
    </PanelItem>

    <PanelItem>
        <PanelText>
            <div class="my-4 text-3xl font-bold">Surge XT Videos</div>

            <p>We have a collection of great demos on our YouTube channel.</p>

            <p>
                <a href="https://www.youtube.com/channel/UCnnNU3VTqBMeUaemAZVWIFg"
                    >Explore the videos!</a
                >
            </p>
        </PanelText>
    </PanelItem>
</Panel>
