---
const {} = Astro.props;
import Panel from "@components/panel.astro";
import PanelItem from "@components/panel_item.astro";
import PanelText from "@components/panel_text.astro";
---

<Panel
    style="bg-gradient-to-br from-accentOrange to-backgroundBlue text-neutral-200">
    <PanelItem>
        <div class="flex flex-col items-center p-8">
            <iframe
                class="aspect-video"
                width="100%"
                height="100%"
                src="https://www.youtube-nocookie.com/embed/ipk5tRGnL2E"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
             Roger Linn demonstrates Surge on his Linnstrument
        </div>
    </PanelItem>

    <PanelItem>
        <PanelText>
            <h1>Surge XT Videos</h1>
            <h2>We have a collection of great demos on our YouTube channel.</h2>
            <a href="https://www.youtube.com/channel/UCnnNU3VTqBMeUaemAZVWIFg">
                Explore the videos!
            </a>
        </PanelText>
    </PanelItem>
</Panel>
