---
const { text, url } = Astro.props;
---

<a
    class="block w-fit rounded-lg border-4 border-white bg-transparent p-4 text-center text-lg font-bold text-white no-underline duration-300 hover:bg-white hover:text-backgroundBlue"
    href={url}>
    {text}
</a>
