---
import discord_invite_link from "../assets/includes/discord_invite_link?raw";
---

<a
    class="block w-fit rounded-lg border-4 border-surgeBlue bg-transparent p-4 text-center text-lg font-bold text-surgeBlue no-underline duration-300 hover:bg-surgeBlue hover:text-white"
    href={discord_invite_link}>
    Get Involved Here
</a>
