---
import surge_build_nightly from "../content/generated/surge-build-nightly.json" with { type: "json" };
---

<ul class="flex flex-col gap-4 text-lg font-bold">
    <li>
        <a href={surge_build_nightly.releases.win64}
            >&#8681; Windows 64-bit (Standalone, CLAP, VST3)</a
        >
    </li>
    <li>
        <a href={surge_build_nightly.releases.macos}
            >&#8681; macOS Intel/ARM Universal (Standalone, AU, CLAP, VST3)</a
        >
    </li>
    <li>
        <a href={surge_build_nightly.releases.linux64}
            >&#8681; Linux x64 64-bit (Standalone, CLAP, LV2, VST3 - .deb built on Ubuntu 18.04 /
            gcc11)</a
        >
    </li>
</ul>
