<style>
    @media (prefers-color-scheme: dark) {
        .hero-image {
            @apply bg-[url('/images/hero_dark.png')];
        }
    }

    @media (prefers-color-scheme: light) {
        .hero-image {
            @apply bg-[url('/images/hero_light.png')];
        }
    }
</style>

<div
    class="hero-image hidden h-full border-y-[64px] border-transparent bg-cover bg-no-repeat md:flex">
</div>
