---
import { Image } from "astro:assets";
import Logo from "public/images/sst-logo.svg";

const { toc } = Astro.props;
---

<style>
    .toc-toggle {
        @apply rounded p-2 text-black no-underline hover:cursor-pointer hover:bg-black hover:text-surgeOrange;
    }
    .category {
        @apply block w-full rounded p-2 font-bold text-black no-underline hover:cursor-pointer hover:bg-black hover:text-surgeOrange group-hover:bg-black group-hover:text-surgeOrange;
    }
    .submenu {
        @apply absolute left-0 right-0 hidden min-w-48 bg-transparent group-hover:block md:left-[unset] md:right-[unset];
    }
    .dropdown {
        @apply flex flex-col rounded-lg bg-surgeOrange p-2 shadow-md;
    }
    .link {
        @apply block w-full rounded p-2 text-black no-underline hover:cursor-pointer hover:bg-black hover:text-surgeOrange;
    }
</style>

<nav
    class="sticky top-0 flex flex-shrink-0 flex-grow-0 basis-auto flex-row items-center bg-surgeOrange p-1 leading-none shadow-md">
    {
        toc && (
            <a id="toc_toggle" class="toc-toggle">
                ≡
            </a>
        )
    }
    <menu class="m-auto flex flex-row flex-wrap">
        <li><a class="category" href="/">Home</a></li>
        <li id="documentation-group" class="group">
            <span id="documentation-category" class="category">Documentation</span>
            <menu id="documentation" class="submenu">
                <div class="dropdown">
                    <li>
                        <a class="link" href="/changelog">Changelog</a>
                    </li>
                    <li><a class="link" href="/manual-xt">Manual</a></li>
                    <li>
                        <a class="link" href="/rack_xt_manual">VCV Modules Manual</a>
                    </li>
                    <li>
                        <a class="link" href="/tuning-guide">Tuning Guide</a>
                    </li>
                    <li>
                        <a class="link" href="/accessibility">Accessibility</a>
                    </li>
                </div>
            </menu>
        </li>
        <li id="extras-group" class="group">
            <span id="extras-category" class="category">Extras</span>
            <menu id="extras" class="submenu">
                <div class="dropdown">
                    <li>
                        <a class="link" href="/skin-library">Skin Library</a>
                    </li>
                    <li>
                        <a
                            class="link"
                            href="https://github.com/surge-synthesizer/surge-synthesizer.github.io/wiki"
                            >Wiki</a
                        >
                    </li>
                    <li>
                        <a class="link" href="/clap">About CLAP</a>
                    </li>
                </div>
            </menu>
        </li>
        <li id="about-group" class="group">
            <span id="about-category" class="category">About</span>
            <menu id="about" class="submenu">
                <div class="dropdown">
                    <li>
                        <a class="link" href="/reviews-media">Reviews & Media</a>
                    </li>
                    <li><a class="link" href="/about">History</a></li>
                    <li>
                        <a class="link" href="/feedback">Contact</a>
                    </li>
                    <li>
                        <a class="link" href="https://github.com/surge-synthesizer/surge"
                            >Source Code</a
                        >
                    </li>
                </div>
            </menu>
        </li>
        <li><span id="theme-toggle" class="category select-none">🔅&#xFE0E;</span></li>
    </menu>
    <a href="https://surge-synth-team.org/" title="surge-synth-team.org">
        <Image
            class="m-0 min-h-[24px] min-w-[24px] p-0"
            alt="Surge Synth Team logo"
            title="surge-synth-team.org"
            src={Logo}
            width={24}
            height={24}
        /></a
    >
</nav>

<script>
    const toggleAria = (groupId: string, categoryId: string) => {
        const group = document.getElementById(groupId) as HTMLLIElement;
        const category = document.getElementById(categoryId) as HTMLMenuElement;

        group.addEventListener("mouseenter", () => {
            category.setAttribute("aria-expanded", "true");
        });

        group.addEventListener("mouseleave", () => {
            category.setAttribute("aria-expanded", "false");
        });
    };

    toggleAria("documentation-group", "documentation");
    toggleAria("extras-group", "extras");
    toggleAria("about-group", "about");

    const tocToggle = document.getElementById("toc_toggle") as HTMLAnchorElement;
    const toc = document.getElementById("toc") as HTMLMenuElement;
    const mediaQuery = window.matchMedia("(max-width: 768px)");

    const tocAria = () => {
        if (window.getComputedStyle(toc).display !== "none") {
            toc.setAttribute("aria-expanded", "true");
        } else {
            toc.setAttribute("aria-expanded", "false");
        }
    };

    tocToggle.addEventListener("mouseup", () => {
        if (window.getComputedStyle(toc).display === "none") {
            toc.style.display = "initial";
            tocAria();
            document.addEventListener("click", hideToc);
        } else {
            toc.style.display = "none";
            tocAria();
            document.removeEventListener("click", hideToc);
        }
    });

    const hideToc = (e: MouseEvent) => {
        if (tocToggle.contains(e.target as Node)) {
            return;
        }

        if (mediaQuery.matches) {
            toc.style.display = "none";
        }

        tocAria();
    };

    mediaQuery.addEventListener("change", () => {
        tocAria();
    });

    tocAria();
</script>
