---
const { text, url } = Astro.props;
---

<a
    class="border-4 border-black rounded-lg bg-transparent p-4 text-lg font-bold no-underline duration-300 hover:bg-black hover:text-accentOrange"
    href={url}>
    {text}
</a>
