---
const { text, url } = Astro.props;
---

<a
    class="block w-fit rounded-lg border-4 border-black bg-transparent p-4 text-center text-lg font-bold text-black no-underline duration-300 hover:bg-black hover:text-surgeOrange"
    href={url}>
    {text}
</a>
