---
const { title } = Astro.props;
import PageTitle from "@components/page_title.astro";
---

<div class="flex place-content-center">
    <div class="flex max-w-[100ch] flex-col gap-8 p-4 sm:p-8" id="pagecontent">
        <PageTitle title={title} />
        <slot />
    </div>
</div>
