@font-face {
  font-family: "LatoWeb";
  src: url("../assets/fonts/Lato-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "LatoWeb";
  src: url("../assets/fonts/Lato-Italic.woff") format("woff");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

body {
  font-family: LatoWeb;
}

.pdf-hide {
  display: none;
}

.pdf-firstpage {
  padding-top: 150px;
}

img {
  max-width: 100%;
}

thead {
  display: none;
}

a {
  color: #2d86fe;
}

li {
  page-break-inside: avoid;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-collapse: collapse;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  page-break-inside: avoid;
}

td {
  padding: 15px;
  white-space: pre-wrap;
}

h1 {
  page-break-before: always;
  margin-top: 4em;
  margin-bottom: 1em;
}

h2 {
  margin-top: 3em;
  margin-bottom: 1em;
}

h3 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h4 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

#the-scene-concept, #sliders-and-controls, #undo-and-redo, #patch-browser, #status-area, #sound-generation, #sound-shaping, #modulation-list, #effect-unit-selector, #shapes, #multi-segment-envelope-generator, #formula, #tuning-editor, #edit-modes, #radial, #interval, #to-equal, #rotation {
  page-break-before: always;
}
