<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    <header class="header-background" style="overflow: hidden">
      <div class="clearfix border-0 header-border">
        <ul class="list-reset left py-1 header-text font-smoothing">
          {% for my_page in site.pages %}
          {% if my_page.title %}
          <li class="inline-block">
            <a class="align-middle link-primary header-link mr-2" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </header>

    {% include hero.html %}
    {% include osc.html %}
    {% include digital.html %}
    {% include sounds.html %}
    {% include thanks.html %}
    {% include general-specs.html %}
    {% include osc-specs.html %}
    {% include filter-block.html %}
    {% include modulation.html %}
    {% include effects.html %}
    {% include contributors.html %}
    {% include developers.html %}
    {% include designers.html %}
    {% include testers.html%}
    {% include content-creators.html %}
    {% include community.html %}
    {% include system-requirements.html %}
    {% include footer.html %}

</body>