---
import "css/index.css";
import Nav from "components/nav.astro";

const { title, toc } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta property="og:url" content={Astro.url.href} />
        <meta property="og:title" content={title} />
        <meta property="og:description" content="Surge XT Synthesizer" />
        <meta
            property="og:image"
            content="https://surge-synthesizer.github.io/images/og_image.png"
        />
        <meta
            property="og:image:secure_url"
            content="https://surge-synthesizer.github.io/images/og_image.png"
        />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="600" />
        <meta property="ig:image:alt" content="Surge XT - Free & Open Source Hybrid Synthesizer" />
        <meta property="og:type" content="website" />
        <meta name="color-scheme" content="dark light" />
        <meta name="theme-color" content="#FF9900" />
        <meta name="description" content="Surge XT is an open source hybrid synthesizer" />
        <link rel="icon" href="/favicon.ico" />
        <link
            rel="preload"
            href="/fonts/Lato-Regular.woff"
            as="font"
            type="font/woff"
            crossorigin
        />
        <link rel="preload" href="/fonts/Lato-Italic.woff" as="font" type="font/woff" crossorigin />
        <title>{title}</title>
    </head>

    <body class="flex h-full min-w-0 flex-col overflow-hidden">
        <Nav toc={toc} />
        <slot />
    </body>
</html>

<script>
    const setTheme = (element: HTMLElement, dark: boolean) => {
        dark
            ? document.documentElement.classList.add("dark")
            : document.documentElement.classList.remove("dark");
        element.innerHTML = dark ? "🔅&#xFE0E;" : "🔆&#xFE0E;";
        document
            .querySelector('meta[name="color-scheme"]')
            ?.setAttribute("content", dark ? "dark" : "light");
    };

    const saveTheme = (element: HTMLElement, dark: boolean) => {
        setTheme(element, dark);
        localStorage.setItem("theme", dark ? "dark" : "light");

        const logo = document.getElementById("surge-logo") as HTMLImageElement;
        logo.src =
            localStorage.getItem("theme") === "dark"
                ? "/images/surge_xt_logo_white.svg"
                : "/images/surge_xt_logo_black.svg";
    };

    const toggle = document.getElementById("theme-toggle") as HTMLSpanElement;
    const mediaQuery = window.matchMedia("(prefers-color-scheme: dark)");

    if (localStorage.getItem("theme")) {
        setTheme(toggle, localStorage.getItem("theme") === "dark" ? true : false);
    } else {
        saveTheme(toggle, mediaQuery.matches);
    }

    toggle.addEventListener("click", () => {
        saveTheme(toggle, localStorage.getItem("theme") === "light");
    });
    mediaQuery.addEventListener("change", () => {
        saveTheme(toggle, mediaQuery.matches);
    });
</script>
