---
import Base from "layouts/base.astro";

const { title, toc } = Astro.props;
---

<Base title={title} toc={toc}>
    <main class="flex min-h-0 flex-shrink flex-grow flex-col overflow-auto"><slot /></main>
</Base>
