---
const { title } = Astro.props.frontmatter || Astro.props;

import Base from "@layouts/base.astro";
import Nav from "@components/nav.astro";
import Toc from "@components/toc.astro";
---

<Base title={title}>
    <Nav manual={true} />
    <div class="flex flex-col gap-4 md:flex-row">
        <Toc />
        <div class="flex flex-1 place-content-center">
            <slot />
        </div>
    </div>
</Base>
